<header>
    <div class="container">
        <div class="header__container">
            <div class="header__logo-menu-wrapper">
                <div class="header__logo">
                    <img src="img/logo-white.svg" alt="">
                </div>

                <ul class="header-menu">
                    <li class="header-menu__item"><a href="/" class="header-menu__link">Главная</a></li>
                    <li class="header-menu__item"><a href="/" class="header-menu__link">Меню</a></li>
                    <li class="header-menu__item"><a href="/" class="header-menu__link">Тренировки</a></li>
                    <li class="header-menu__item"><a href="/" class="header-menu__link">О нас</a></li>
                    <li class="header-menu__item"><a href="/" class="header-menu__link">Контакты</a></li>
                </ul>
            </div>

            <div class="header__contacts-auth-wrapper">
                <div class="header-contacts">
                    <a href="+77777777777" class="header-contacts__phone">+7 (777)-77-77</a>
                    <div class="header-contacts__media-grid">
                        <a href="#"><img src="img/header-whatsapp.svg" alt=""></a>
                        <a href="#"><img src="img/header-telegram.svg" alt=""></a>
                    </div>
                </div>

                <div class="header-auth">
                    <div class="header-auth__container">
                        <a href="/" class="header-auth__button button">Войти</a>
                        <a href="/" class="header-auth__button button">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>