<header>
    <div class="container">
        <div class="header__container">
            <div class="logo header__logo">
                <!-- svg -->
            </div>

            <ul class="header-menu">
                <li class="header-menu__item"><a href="/" class="header-menu__link">Главная</a></li>
                <li class="header-menu__item"><a href="/" class="header-menu__link">Меню</a></li>
                <li class="header-menu__item"><a href="/" class="header-menu__link">Тренировки</a></li>
                <li class="header-menu__item"><a href="/" class="header-menu__link">О нас</a></li>
                <li class="header-menu__item"><a href="/" class="header-menu__link">Контакты</a></li>
            </ul>

            <div class="header-contacts">
                <a href="+77777777777" class="header-contacts__phone">+7 (777)-77-77</a>
                <div class="header-contacts__media-grid">
                    <svg class="header-contacts__icon"></svg>
                    <svg class="header-contacts__icon"></svg>
                </div>
            </div>

            <div class="header-auth">
                <div class="header-auth__container">
                    <a href="/" class="header-auth__button button">Войти</a>
                    <a href="/" class="header-auth__button button">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
</header>