<div class="pagination">
    <div class="pagination__wrapper">
        <div class="pagination__list">
            <a href="" class="pagination__previous">
                <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 1L1 4L4 7" stroke="#48874E"/>
                </svg>
            </a>
            <a href="" class="pagination__item">
                1
            </a>
            <a href="" class="pagination__item">
                2
            </a>
            <a href="" class="pagination__item">
                3
            </a>
            <a href="" class="pagination__next">
                <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.946289 7L3.94629 4L0.946289 1" stroke="#48874E"/>
                </svg>
            </a>
        </div>
    </div>
</div>