.about-us {
  &__container {
    margin-bottom: clamp(52px, 2.02rem + 3.786vw, 105px);
  }

  &__wrapper {
  }

  &__grid {
    display: grid;
    gap: clamp(20px, 0.786rem + 1.429vw, 40px);
    grid-template-columns: auto 40.33%;

    @media (max-width: 1400px) {
      grid-template-columns: auto 33.33%;
    }

    @media (max-width: 1200px) {
      grid-template-columns: auto;
    }
  }

  &__col {
    &:last-child {
      display: grid;
      gap: clamp(15px, 0.589rem + 1.071vw, 30px);
    }

  }

  &__pictures-grid {
    display: grid;
    grid-gap: clamp(20px, 0.786rem + 1.429vw, 40px);
  }

  &__pictures-row {
    &:first-child {
      display: grid;
      grid-template-columns: 55.477% auto;
      gap: clamp(20px, 0.786rem + 1.429vw, 40px);
    }

    img {
      border-radius: clamp(12px, 0.471rem + 0.857vw, 24px);
      width: 100%;
      height: 100%;
    }
  }

  &__tile {
  }

  &__text {
    &_bold {
      font-weight: 600;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 203px auto;
    gap: clamp(10px, 0.393rem + 0.714vw, 20px);
    align-items: center;
  }

  &__image-group {
    img {
      &:not(:first-child) {
        margin-left: -39px;
      }
    }
  }

  &__image {
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      color: #8D8D8D;

      &:before {
        content: '';
        width: 41px;
        height: 1px;
        background: $textColor;
        opacity: 50%;
        margin-bottom: 10px;
      }
    }
  }

  &__title-advantages {
    font-size: clamp(15px, 0.589rem + 1.071vw, 30px);
    font-weight: 700;
    line-height: 120%;

    span {
      color:#8BC348;
    }
  }

  &__image-wrapper {
    img {
      border-radius: 10px;
      background-color: #8BC348;
    }
  }
}