.account-header-menu {
  &__wrapper {
    border-radius: 8px;
    box-shadow: -13px 15px 24px 0px rgba(224,224,224,1);

  }

  &__green-block {
    height: 102px;
    background-color: $accentColor;
    border-radius: 8px 8px 0px 0px;
  }

  &__user {
  }

  &__list {
    display: flex;
    gap: clamp(15px, 0.589rem + 1.071vw, 30px);

    @media (max-width: 890px) {
      flex-direction: column;
    }
  }

  &__item {
  }

  &__link {
    display: block;
    padding: clamp(12px, 0.657rem + 0.286vw, 16px) 0;
    font-size: clamp(12px, 0.657rem + 0.286vw, 16px);
    font-weight: 500;
    color: #9499A1;

    &:hover,
    &.active {
      color: $accentColor;
      border-bottom: $accentColor solid 2px;
      margin-bottom: -2px;
    }
  }

  &__menu {

  }

  &__menu-wrapper {
    padding: 0 clamp(16px, 0.629rem + 1.143vw, 32px);
  }

  &__user-wrapper {
    padding: 0 clamp(16px, 0.629rem + 1.143vw, 32px);
    border-bottom: 1px solid #DEE2E6;
    padding-bottom: clamp(15px, 0.589rem + 1.071vw, 30px);
    max-width: 1320px;
  }
}
