.auth-block {
  &__grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 1000px) {
      grid-template-columns: auto;
      color: #fff;
    }
  }

  &__col {
    &:first-child {
      background-repeat: no-repeat;
      background-size: cover;
      @media (max-width: 1000px) {
        position: relative;
        height: 100vh;
        width: 100%;
        background-position: center;
      }
    }

    &:last-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (max-width: 1000px) {
        position: absolute;
        width: 100%;
        height: 100vh;
      }
    }

    .overlay {
      @media (max-width: 1000px) {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
      }
    }
  }

  &__title {
    font-size: clamp(20px, 0.786rem + 1.429vw, 40px);
    font-weight: 700;
    line-height: 120%;
    margin-bottom: clamp(20px, 0.786rem + 1.429vw, 40px);
  }

  &__subtitle {
    margin-bottom: clamp(20px, 0.786rem + 1.429vw, 40px);;
  }

  &__subtitle-sm {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: clamp(15px, 0.589rem + 1.071vw, 30px);
  }

  &__form {
    margin-left: clamp(20px, 0.786rem + 1.429vw, 40px);
  }

}