#burger-menu {
  display: none;
  cursor: pointer;
  height: 27px;
  width: 27px;
  overflow: visible;
  position: relative;
  z-index: 3;

  @media (max-width: 1000px) {
    display: block;
  }
}

#burger-menu span {
  height: 4px;
  opacity: 1;
  position: absolute;
  background-color: $accentColor;
  transition: 0.3s ease-in-out;
  right: 0px;
  top: 13px;
  width: 27px;
}

#burger-menu span:before,
#burger-menu span:after {
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  background-color: $accentColor;
  transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
  content: "";
}

#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}

#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}

#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
  background-color: #fff;
}

#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
  background-color: #fff;
}

#burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
  background-color: #fff;
}