.header-menu {
  display: flex;
  gap: 60px;

  @media (max-width: 1700px) {
    gap: clamp(15px, 0.589rem + 1.071vw, 30px);
  }

  @media (max-width: 1400px) {
    gap: 10px;
  }

  @media (max-width: 1000px) {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    visibility: hidden;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;

    @media (max-width: 1000px) {
      flex-direction: column;
      gap: 40px;
    }

    &.overlay {
      visibility: visible;
      opacity: 1;
      padding-top: 100px;
      background: $accentColor;
    }
  }

  &__item {
  }

  &__link {
    @media (max-width: 1000px) {
      font-size: 24px;
      font-weight: 500;
      color: #fff;
    }
  }
}