.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: clamp(52px, 2.02rem + 3.786vw, 105px);
  }

  &__logo-menu-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;

    @media (max-width: 1700px) {
      gap: 20px;
    }

    @media (max-width: 1400px) {
      gap: 10px;
    }
  }

  &__contacts-auth-wrapper {
    display: flex;
    gap: 40px;
    @media (max-width: 1700px) {
      gap: 20px;
    }

    @media (max-width: 1400px) {
      gap: 10px;
    }
  }

  &__logo {
  }
}
