.programs {
  &__container {
    @include section-margin-bottom;
  }

  &__wrapper {
  }

  &__title-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: clamp(25px, 0.982rem + 1.786vw, 50px);
  }

  &__title {
  }

  &__buttons-wrapper {
    display: flex;
    gap: clamp(10px, 0.393rem + 0.714vw, 20px);
  }

  &__button {
    width: 263px;

    @media (max-width: 768px) {
      width: fit-content;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: clamp(20px, 0.786rem + 1.429vw, 43px);

    @media (max-width: 890px) {
      grid-template-columns: auto;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 0.786rem + 1.429vw, 43px);
  }
}